* {
    box-sizing: border-box;
    border: 1px solid black;
    font-family: 'MedievalSharp', cursive;
}

body {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    padding-top: 50px;
    background-image: url("images/990-game-of-thrones-game-of-thrones.jpg");
    background-size: fill;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
}

/* header -------------------------------------------------------- */

    header {
        height: 160px;
        margin: 0 auto;
        background-color: rgb(77, 14, 14);
    }
        header:first-child{
            position: relative;
        }
            #crown {
                height: 115px;
                width: 120px;
                position: absolute;
                left: 50%;
                margin-left: -60px;
                top: 0;
                opacity: 0.4;
                
            }
            #logo {
                top: 5px;
                height: 90px;
                width: 58%;
                position: absolute;
                left: 50%;
                margin-left: -29%;
            }

        audio {
            position: absolute;
            width: 100%;
            bottom: 0;
        }

/* -------------------------------------------------------- */

    

/* main -------------------------------------------------------- */


    main {
        position: relative;
        text-align: center;
    }

        #start { /* section */
            height: 400px;
        }



        .menu-bg { /* from section #results */
            top:0;
            left: 0;
            height:100%;
            width: 100%;
            position: absolute; 
        }

/* Questions & Answers -------------------------------------------------------- */

fieldset {
    border: none;
}

legend { /* element from js, questions */
    position: relative;
    bottom: 25vh;
    margin: 0 auto;
    font-size: 2.3em;
    padding: 0;
    color: whitesmoke;
    text-shadow: 2px 2px 4px #492e05;
    background-color: rgb(41, 32, 7, 0.5);
}

.answerChoice { /* div from js, answer choices */
    margin: 0 auto;
    position: relative;
    bottom:  12vh;
    font-size: 1.8em;
    line-height: 2;
    color: rgb(252, 249, 247);
    background-color: rgba(13, 19, 13, 0.5);
}

.store-span { /*span from js, related to answer choices */
    background-color: rgba(44, 39, 23, 0.6);
}

/* Feedback -------------------------------------------------- */


.message.wrong {
    position: relative;
    font-size: 1.5em;
    color: rgb(82, 13, 9);
    background-color: rgba(182, 115, 98, 0.5);
}

.message.correct {
    position: relative;
    font-size: 1.5em;
    color: rgb(20, 66, 10);
    background-color: rgba(115, 182, 98, 0.5);
}


p.last {
    color:rgb(223, 237, 243);
    font-size: 3em;
    position: relative;
    bottom: 34vh;
    background-color: rgba(32, 10, 4, 0.5);

}

span.green {
    color: green;
    font-size: 1.35em;
}

span.red {
    color: red;
    font-size: 1.35em;
}

#resultsImages {
    position: relative;
}

#ygritte {
    top: 0;
    left: 0;
    height:400px;
    width: 100%;
    position: absolute;
}

.response-img {
    top: 0;
    left: 0;
    height:400px;
    width: 100%;
    position: absolute; 
}

/* Buttons -------------------------------------------------- */

.button {
    position: relative;
    font-size: 1.5em;
    bottom: 2vh;
    background-color: rgb(10, 41, 23);
    box-shadow: 7px 7px 7px #240f0f;
}

#startButton {
    height: 40px;
    font-size: 50px;
    margin-top: 250px;
    z-index: 1;
    text-shadow: 5px 5px 5px #362915;
    color: whitesmoke;
    background-color: transparent;
    border: none;
    box-shadow: none;
    bottom: 8vh;
}


.submitButton {
    position: relative;
    font-size: 1.5em;
    bottom: 12vh;
    color: rgb(180, 204, 44);
}

.nextButton {
    color: rgb(246, 240, 247);
}

#retakeQuizButton {
    position: relative;
    bottom: 7vh;
    color: rgb(241, 250, 244);
}


/* .aside1 -------------------------------------------------------- */

.aside1 {
    position: absolute;
    right: 10%;
    top: 12vw;
    width: 100px;
    text-shadow: 2px 2px 4px #c49042;
    text-align: center;
}

    .aside1 > div {
        height: 205px;
        position: absolute;
        left: 50%;
        margin-left: -75px;
        width: 150px;
        top: 25px;
        font-size: 1.5em;
    }

    .aside1 > div > p {
        margin: 5px 0 0 0;
    }

    #scroll {
        height: 210px;
        position: absolute;
        left: 50%;
        margin-left: -75px;
        width: 150px;
        z-index: -1;
    }



/* .aside2 -------------------------------------------------------- */

.aside2 {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -110px;
    visibility: hidden;
    z-index: 1;
}
    .aside2 > div {
        position: relative
    }
        .aside2 > div > div{
            position: absolute;
            top: 20px;
            width: 220px;
            font-size: 1.5em;
        }

        #alt-aside-span1{
            border: 1px solid black;
        }

        .aside2 > div > div > span:nth-child(2){
            color: rgb(187, 81, 20);
            font-weight: bold;
        }

    #alt-scroll{
        position: absolute;
        left: 0;
        z-index: -1;
        height: 70px;
        width: 230px;
    }

/* -------------------------------------------------------- */
