* {
    box-sizing: border-box;
    font-family: 'MedievalSharp', cursive;
}

body {
    width: 85%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    padding-top: 50px;
    background-image: url("images/990-game-of-thrones-game-of-thrones.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* --------------------------------------------------------------*/

header {
    height: 160px;
    margin: 0 auto;
    background-color: rgb(61, 17, 17);
    border: outset 2px  rgb(41, 4, 4);
    position: relative;
    text-align: center;
}
    
#crown {
    height: 115px;
    width: 30%;
    opacity: 0.4;
}

#logo {
    left: 50%;
    top: 10%;
    height: 90px;
    width: 60%;
    position: absolute;
    margin-left: -30%;
}

audio {
    width: 100%;
}


/* --------------------------------------------------------------*/

main {
    text-align: center;
    border: 2px rgb(48, 3, 3, 0.8);
    border-radius: 0 0 10px 10px;
    border-style: none double double;
    position: relative;
    overflow: hidden;
}

/* Start Menu ----------------------------------------------------------*/

#start {
    height: 400px;
    position: relative;
}

.menu-bg { 
    height:100%;
    width: 100%;
}

.button {
    background-color: rgb(10, 41, 23);
    box-shadow: 7px 7px 7px #240f0f;
}

#startButton {
    height: 150px;
    font-size: 50px;
    text-shadow: 5px 5px 5px #362915;
    color: whitesmoke;
    background-color: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    position: absolute;
    width: 60%;
    margin-left: -30%;
    left: 50%;
    top: 31%;
}

#startButton:hover{
    color: orange;
}

/* QNA --------------------------------------------------------------*/

.scorecard1 { /* middle scroll section */
    visibility: show;
    font-size: 1.3em;
}

.scorecard1 > div {
    position: relative;
}

.scorecard1 > div > div { /* This is the div container for the 2 spans (e.g.) Q1 & 0 of 5 pts */
    position: absolute;
    left: 50%;
    width: 100%;
    margin-left: -50%;
    top: 32%;
}

#scroll{
    z-index: -1;
    height: 70px;
    width: 218px;
    display: block;
    margin: 0 auto;
}


#q-span { /* this is the span for (e.g.) Q1 */ 
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.7);
}

#score-span { /* this is the span for (e.g.) 0 of 5 pts */ 
    color: rgb(187, 81, 20);
    font-weight: bold;
}

/* ----------------------------------------------------------*/

fieldset {
    border: none;
}

legend { /* element from js, questions */
    margin: 0.5em auto 1.5em;
    font-size: 1.4em;
    color: whitesmoke;
    text-shadow: 2px 2px 4px #492e05;
    background-color: rgb(41, 32, 7, 0.5);
    background: linear-gradient(to right, rgba(58, 6, 6, 0.8), rgb(5, 31, 66));
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.answerChoices { 
    margin: 0 auto;
    font-size: 1.4em;
    line-height: 2;
    color: rgb(252, 249, 247);
    background-color: rgba(13, 19, 13, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.4);
}

label {
    cursor: pointer;
}

label:hover{
    color: goldenrod;
}

#submitButton {
    font-size: 1.5em;
    color: white;
    border: black;
    height: 40px;
    cursor: pointer;
    margin: 5% 0 7%;
}

#submitButton:hover{
    color: rgb(180, 204, 44);
}

/* Feedback ----------------------------------------------------------*/


.correct {
    width: 100%;
    font-size: 1.7em;
    color: rgb(40, 75, 16);
    background-color: rgba(115, 182, 98, 0.5);
    border: 1px solid black;
}

span.green {
    color: rgb(31, 138, 84);
    font-size: 1.35em;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000;
}

.response-img {
    width: 100%;
    height: 220px;
    padding: 1em;
}

#nextButton {
    color: rgb(246, 240, 247);
    font-size: 2.0em;
    opacity: 0.8;
    height: 50px;
    border: black;
    cursor: pointer;
    margin: 5% 0 7%;
}

#nextButton:hover{
    color: rgb(180, 204, 44);
}

.wrong {
    width: 100%;
    font-size: 1.8em;
    color: rgb(82, 13, 9);
    background-color: rgba(182, 115, 98, 0.5);
    border: solid black 1px;
}

span.red {
    color: red;
    font-size: 1.35em;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000;
}



/* Results ----------------------------------------------------------*/

p.last {
    color:rgb(223, 237, 243);
    font-size: 2.3em;
    background: linear-gradient(to right, rgba(58, 6, 6, 0.8), rgb(5, 31, 66));
    max-width: 60%;
    margin: 20% auto;
}

#retakeQuizButton {
    color: rgb(241, 250, 244);
    font-size: 1.8em;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 10%;
    margin-bottom: 35%;
}

#retakeQuizButton:hover{
    color: rgb(180, 204, 44);
}


/* --------------------------------------------------------------*/

aside { /* right scroll section */
    visibility: hidden;
    position: absolute;
    right: 6%;
    top: 12vw;
    width: 63px;
    text-shadow: 2px 2px 4px #c49042;
    text-align: center;
}

aside > div { /* div containing #currentQ & #currentScore */
    height: 205px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    top: 1.8em;
    font-size: 1.5em;
    line-height: 0.9em;
}

aside > div > p { /* #currentQ & #currentScore */
    margin: 5px 0 0 0;
}


#alt-scroll {
    height: 225px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    z-index: -1;
}



