@media screen and (min-width: 768px) {

    #startButton {
        font-size: 3.5em;
        top: 37%;
    }

    .scorecard1 { /* middle scroll section */
        font-size: 2.0em;
    }
    
    #logo {
        width: 54%;
        margin-left: -27%;
    }

    #scroll{
        height: 80px;
        width: 318px;
    }
     
    legend { /* element from js, questions */
        font-size: 2.4em;
        margin-top: 5%;
        margin-bottom: 9%;
    }
    
    .answerChoices { 
        font-size: 1.8em;
    }
    
    #submitButton {
        font-size: 2em;
        width: 120px;
        height: 48px;
    }

    .message {
        font-size: 2.1em;
        margin-top: 10%;
    }

    #nextButton {
        font-size: 2em;
        width: 130px;
        height: 48px;
    }

    .response-img {
        width: 60%;
        height: 300px;
    }

    p.last {
        font-size: 3.3em;   
    }
    
    #retakeQuizButton {
        font-size: 2.8em;
        width: 180px;
        height: 110px;
        margin-top: 0;
    }

}


@media screen and (min-width: 1250px) {

    .scorecard1{
        visibility: hidden;
    }

    aside {
        visibility: visible;
    }

    body {
        width: 70%;
    }
    
    #crown {
        width: 25%;
    }

    #logo {
        width: 44%;
        margin-left: -22%;
    }

    #start {
        height: 500px;
    }

    legend { /* element from js, questions */
        font-size: 2.6em;
        margin-top: 0%;
    }
    
    .answerChoices { 
        font-size: 2.2em;
    }

    .message {
        font-size: 2.6em;
    }

    .response-img {
        width: 60%;
        height: 400px;
    }

    #nextButton {
        font-size: 3em;
        width: 180px;
        height: 58px;
    }


}    


@media screen and (min-width: 1600px) {

  

    #startButton {
        font-size: 65px;        
    }


    aside > div { /* div containing #currentQ & #currentScore */
        font-size: 1.8em;
    }
    
    #alt-scroll {
        height: 260px;
        margin-left: -85px;
        width: 170px;
    }


    #submitButton {
        font-size: 2.5em;
        width: 150px;
        height: 55px;
    }

    .response-img {
        width: 47%;
        height: 410px;
        margin-top: 10px;
    }

    #nextButton {
        font-size: 3.5em;
        width: 220px;
        height: 70px;
    }

    legend { /* element from js, questions */
        font-size: 3em;
    }
    
    .answerChoices { 
        font-size: 2.5em;
    }

    .message {
        margin-top: 5%;
    }




}    
